-- Load common Vimscript core and mappings (shared with Vim)
vim.cmd([[
{{ template "editors/common/core" . }}
{{ template "editors/common/mappings" . }}
]])

-- Load Neovim-specific core (bootstrap lazy.nvim and plugin config)
{{ template "editors/nvim/core" . }}
