{{- /* Git configuration for Windows (deployed to ~/.gitconfig) */ -}}
{{ template "git/common" . }}

# ============================================================================
# Windows-specific settings
# ============================================================================
[core]
    # Windows line endings
    autocrlf = true

    # Pager: Git Bash provides 'less'; if you use another shell, you may omit this line
    pager = less -F -X
[user]
    name = qdyangdi
    email = 936768863@qq.com
[diff]
    tool = nvim
[difftool "nvim"]
    cmd = 'nvim -d "$LOCAL" "$REMOTE"'

[merge]
    tool = nvim
[mergetool "nvim"]
    cmd = 'nvim -d "$LOCAL" "$REMOTE" "$BASE" "$MERGED"'

# If you prefer VS Code instead of Neovim, replace the above with:
# [diff]
#     tool = vscode
# [difftool "vscode"]
#     cmd = 'code --wait --diff "$LOCAL" "$REMOTE"'
# [merge]
#     tool = vscode
# [mergetool "vscode"]
#     cmd = 'code --wait --merge "$LOCAL" "$REMOTE" "$BASE" "$MERGED"'
