{{- /* Git configuration for Windows only */ -}}
{{- if eq .chezmoi.os "windows" }}
{{ template "git/common.gitconfig" . }}

# ============================================================================
# Windows-specific settings
# ============================================================================
[core]
    autocrlf = true
    filemode = false
    pager = less -F -X

[user]
    name = ChaosYD
    email = 936768863@qq.com

[diff]
    tool = nvim
[difftool "nvim"]
    cmd = 'nvim -d "$LOCAL" "$REMOTE"'

[merge]
    tool = nvim
[mergetool "nvim"]
    cmd = 'nvim -d "$LOCAL" "$REMOTE" "$BASE" "$MERGED"'
{{- else }}
# ============================================================================
# FATAL ERROR: This Git configuration file is intended for Windows only.
# It has been deployed to a non-Windows system ({{ .chezmoi.os }}).
# Please correct your chezmoi deployment and remove this file.
# ============================================================================
[error-intentionally-invalid
{{- end }}
