local wezterm = require 'wezterm'
local config = wezterm.config_builder()
local action = wezterm.action

{{ template "wezterm/general.lua" . }}
{{ template "wezterm/fonts.lua" . }}
{{ template "wezterm/colors.lua" . }}
{{ template "wezterm/keys.lua" . }}
{{ template "wezterm/launch_menu.lua" . }}
{{ template "wezterm/platform.lua" . }}

return config
