local wezterm = require 'wezterm'
local config = wezterm.config_builder()
local action = wezterm.action

{{ template "wezterm/general" . }}
{{ template "wezterm/fonts" . }}
{{ template "wezterm/colors" . }}
{{ template "wezterm/keys" . }}
{{ template "wezterm/launch_menu" . }}
{{ template "wezterm/platform" . }}

return config
