" ========== Windows Vim Configuration ==========
" This file is managed by chezmoi. Rendered as ~/vimfiles/vimrc.

" Include common core (basic settings, directories, shell, clipboard)
{{ template "editors/common/core" . }}

" Include Vim core (auto-install vim-plug, Git mirror)
{{ template "editors/vim/core" . }}

" ---------- vim-plug settings ----------
" Plugin directory – use s:vim_data_dir defined in common/core
let s:plugged_dir = s:vim_data_dir . '/plugged'

" Plugin list (from shared template)
call plug#begin(s:plugged_dir)
{{ template "editors/vim/plugins" . }}
call plug#end()

" Common key mappings
{{ template "editors/common/mappings" . }}

" Vim-specific mappings
{{ template "editors/vim/mappings" . }}

" Additional Windows-specific mappings can be added here if needed.
