" ========== Windows Vim Configuration ==========
" This file is managed by chezmoi. Rendered as ~/vimfiles/vimrc.
" Includes common settings and plugin definitions.
" vim-plug (plug.vim) is deployed directly by chezmoi – no auto‑install needed.

" Include common core (basic settings, directories, shell, clipboard)
{{ template "editors/common/core" . }}

" Use SSH protocol for all plugins (improves speed, avoids popups)
let g:plug_url_format = 'git@github.com:%s.git'

" Plugin directory (Windows)
let s:plugged_dir = expand('~/vimfiles/plugged')

" Plugin list (from shared template)
call plug#begin(s:plugged_dir)
{{ template "editors/vim/plugins" . }}
call plug#end()

" Common key mappings
{{ template "editors/common/mappings" . }}

" Vim-specific mappings (for plugins like NERDTree)
{{ template "editors/vim/mappings" . }}

" Additional Windows-specific mappings can be added here if needed.
